# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Django
db.sqlite3

# Uploaded Files
media/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Generated Reports
*.pdf
*.json